@model Microsoft.AspNetCore.Identity.IdentityRole

<h2>Delete Role Confirmation</h2>

<p>Are you sure you want to delete the role <strong>@Model.Name</strong>?</p>

<form asp-action="DeleteRole" asp-controller="Role" method="post">
    <input type="hidden" asp-for="Id" />

    <button type="submit" value="Delete Role"  class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>