@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h2>Roles</h2>

<p>
    <a asp-action="CreateRole" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td>
                    <a asp-action="EditRole" asp-route-id="@role.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@role.Id">Details</a> |                   
                    <a asp-action="DeleteRole" asp-route-id="@role.Id">Delete</a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>

